.main-contacto{
    background-image: url('../multimedia/imagenes/bk-main-contacto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.main-contacto__cont1{
    border-radius: 8px;
    background-color: map-get($colores, color-terciario);
    padding: 20px;
    margin-bottom: 20px;
    p{
        font-weight: bold;
    }
}
.formulario-contacto{
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
    background-color: map-get($colores, color-primario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .form-outline{
        padding: 10px;
        border-radius: 8px;
        background-color: map-get($colores, color-blanco);
    }
}
iframe{
    width: 100%;
    height: 600px auto;
    border-radius: 8px;
}