.contenedor-header {
    margin-bottom: 0 !important;
	font-size: 18px;
	margin-bottom: 20px;
	padding: 20px 0;
    .nav-link {
        &:hover {
            transform: scale(1.25,1.25);
        }
    }
    .navbar-brand {
        &:hover {
            transform: scale(1.25,1.25);
        }
    }
}
